.foot {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    background-repeat: no-repeat;
    min-height: 100px;
    font-size: 30px;
    padding-top: 30px;
}
.messi {
    color: red;
    cursor: pointer;
    background-color: green;
}
.messi:hover {
    color: darkslategray;
}
.ronaldo {
    color: green;
    cursor: pointer;
    background-color: red;
}
.ronaldo:hover {
    color: orange;
}
.neymar {
    color: yellow;
    cursor: pointer;
    background-color: deeppink;
}
.neymar:hover {
    color: black;
}
.footballs {
    background-color: deeppink;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.table {
    background-color: white;
}
.tabletr {
    background-color: green;
}
.tableth {
    background-color: orange;
}
.app {
    display: flex;
    justify-content: space-around;
    background-color: orange;
}
.universal {
    cursor: pointer;
}
.num {
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.club {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
}